@font-face {
    font-family: 'Yellowtail', cursive;
    font-family: 'Patrick Hand', cursive;
    font-family: 'Strait', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Noto Serif', serif;
    src: url('https://fonts.googleapis.com/css?family=Yellowtail');

}

header img {
    float: left;
}

#topHead {
    font-family: 'Yellowtail', cursive;
}

nav {
    float: right;
}

#print {
    float: right;
}

ul, li {
    list-style-type: none;
}

li {
    padding-left: 0;
    margin-left: 0;
}

li button {
    margin-right: 2em;
}

footer button {
    float: right;
}

#footLogo { 
    /* placeholder, need to align footer logo to center and make it appear "above" the footer line */
}

#copyright {
    text-align: center;
}