body {
    font-family: 'Noto Serif', serif;
}

header img {
    float: left;
}

#topHead {
    font-family: 'Yellowtail', cursive;
}

nav {
    float: right;
}

h2, h3 {
    text-transform: uppercase;
    color: grey;
    font-family: 'Strait', sans-serif;
}

#print {
    float: right;
    text-transform: uppercase;
    color: grey;
    display: 
}

.table {
    font-family: 'Patrick Hand', cursive;
}

ul, li {
    list-style-type: none;
}

li {
    padding-left: 0;
    margin-left: 0;
}

li button {
    margin-right: 2em;
}

footer img {
    float: left;
}

footer button {
    float: right;
}

#footLogo { 
    /* placeholder, need to align footer logo to center and make it appear "above" the footer */
}

#copyright {
    text-align: center;
    color: gray;
}