header {
    content: " ";
    display: block;
    border-bottom: 10px dotted #000000;
}


header img {
    float: left;
}

#topHead {
    font-family: 'Yellowtail', cursive;
}

nav {
    float: right;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    margin: 0px;
}

body {
    font-family: 'Noto Serif', serif;
    width:960px;
}

h2, h3 {
    text-transform: uppercase;
    color: grey;
    font-family: 'Strait', sans-serif;
}

#print {
    float: right;
    text-transform: uppercase;
    color: grey;
}

.container {
    position: relative;
    text-align: center;
    color: black;
}

 .Tables {
    font-family: 'Patrick Hand', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

#table1 {
    float: left;
}

#table2 {
    float: left;
}

ul, li {
    list-style-type: none;
}

li {
    padding-left: 0;
    margin-left: 0;
}

li button {
    margin-right: 2em;
}

main {
    border-bottom: 10px dotted black;
}

footer img {
    float: left;
}

footer button {
    float: right;
}

#footLogo { 
    /* border-middle: 10px ridge black; */
}

#copyright {
    text-align: center;
    color: gray;
}